**/node_modules
**/dist
**/build
**/coverage
**/.turbo
**/.env
**/.env.*
!**/.env.example
.git
.github
.husky
docs
*.md
**/uploads/*
!**/uploads/.gitkeep
!**/uploads/**/.gitkeep
Dockerfile
**/Dockerfile
.dockerignore
docker-compose.yml
